<?xml version="1.0" ?>
<model>
    <name>Gate</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Akshit Patel</name>
        <email>f20180094@pilani.bits-pilani.ac.in</email>
    </author>
    <description>Gate Model for flipkart competition</description>
</model>
