<?xml version="1.0"?>
<model>
  <name>aeroBITS with sensors</name>
  <version>1.0</version>
  <sdf version='1.4'>aeroBITS_sensors.sdf</sdf>

  <author>
   <name>Akshit Patel</name>
   <email>f20180094@pilani.bits-pilani.ac.in</email>
  </author>

  <description>
   This model is used for flipkart Grid Competition
  </description>
</model>
